main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textkategori {
    align-self: center;
    display: flex;
    margin-top: 2em;
    justify-content: center;
}

.textkategori h1 {
    text-align: center;
    font-size: 3em;
    color: #F8F8FF;
}

.jeniscar {
    color: white;
    padding: 2em;
    width: 70em;
    /* margin-top: 3em; */
    margin-bottom: 3em;
    /* background-color: white; */
    opacity: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.jenis-card {
    width: 45%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 3em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.jenis-card-panjang {
    width: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    justify-content: center;
    margin-left: 2.9em;
}

.jenis-card-panjang p {
    text-align: center;
    font-size: 1.5em;
    color: #F9F6EE;
    margin: 1em;
}

.jenis-card-panjang h2 {
    text-align: center;
    margin-left: 1em;
}

.jenis-card-panjang .garis {
    height: 0.1em;
    background-color: #00FFFF;
    width: 100%;
}

.jenis-card h2 {
    text-align: center;
    margin-left: 1em;
}

.jenis-card img {
    margin: 2em;
}

.jenis-card p {
    font-size: 1.5em;
    color: #F9F6EE;
    margin: 1em;
    padding: 0 0.2em 0.2em 0.2em;
}

.jenis-card .garis {
    height: 0.1em;
    background-color: #00FFFF;
    width: 100%;
}

.jeniscar .cuandprior {
    display: flex;
    flex-direction: row;
    gap: 2em;
    /* margin-top: 7em; */
    align-items: center;
    justify-content: center;
}

.devs {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.devs h1 {
    text-align: center;
    font-size: 4em;
    color: #F8F8FF;
    margin-bottom: 1em;
}

.textDevs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 3em;
}

.dev {
    background-color: #191970;
    border: 1px solid #191970;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
}

.dev h2 {
    color: 	#FF1493;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .textDevs {
        flex-direction: column;
        align-items: center;
    }

    .dev {
        width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .dev {
        width: 100%;
    }
}