body {
    font-family: 'Arial', sans-serif;
}

.main-content {
    padding: 20px;
}

.slogan h1 {
    font-size: 4em;
    color: 	#FF6347;
    text-align: center;
}

.slogan h2 {
    font-size: 2em;
    color: 	#FFFFFF;
    text-align: center;
}

.explore {
    text-align: center;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #FFFAFA;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    margin-left: 40%;
    margin-right: 40%;
}

.explore:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.explore:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;    
}

.judul-section {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.layanan, .testimoni {
    padding: 20px;
    background: #FFFAFA;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.layanan-cards, .testimoni-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.layanan-card, .testimoni-card {
    flex: 1;
    min-width: 250px;
    margin: 10px;
    padding: 20px;
    background: #FFFAFA;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.layanan-card i, .testimoni-card i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.layanan-card h4, .testimoni-card span {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}