main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textkategori {
    display: flex;
    margin-top: 3em;
    justify-content: flex-start;
}

.textkategori h1 {
    font-size: 2em;
    color: #0066DD;
}

.jeniscar {
    padding: 2em;
    width: 100em;
    flex: wrap;
    /* margin-top: 3em; */
    margin-bottom: 3em;
    /* background-color: white; */
    opacity: 95%;
    display: flex;
    gap: 4em;
    justify-content: space-between;
    /* Removed flex-direction: column */
}
.jenis-card {
   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 2em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    padding: 1em; /* Added padding for better spacing inside the cards */
}

.jenis-card h2 {
    margin-left: 1em;
}

.jenis-card img {
    margin: 2em auto; /* Center the image horizontally */
    width: 17em;
}

.jenis-card p {
    font-size: 1.3em;
    color: #AFB1B6;
    margin: 1em;
}

.jenis-card .garis {
    height: 0.1em;
    background-color: #AFB1B6;
    width: 100%;
}

.jeniscar .cuandprior {
    display: flex;
    flex-direction: r;
    gap: 1em;
    /* margin-top: 7em; */
    align-items: center;
    justify-content: center;
}
